thinkai-voice-agent/ügyfélszolgálat_base (1).json
{
  "name": "ügyfélszolgálat_base",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -624,
        -160
      ],
      "id": "d94490c0-d59a-41c9-b000-a9a58c26e46e",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "V1MFcFt6BMD0TOL0",
          "name": "IMAP account (test)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38ca2024-99f7-43a6-94d2-4779520d3903",
              "name": "forras_csatorna",
              "value": "={{ $json.from ? 'E-mail' : $json.body.platform }}",
              "type": "string"
            },
            {
              "id": "d668dfda-6716-4215-9d4b-7b2ad7be09b9",
              "name": "ugyfel_email",
              "value": "={{ $json.from ? $json.metadata['return-path'].replace(/[<>]/g, '') : ('fb_' + $json.id + '@messenger-dummy.com') }}",
              "type": "string"
            },
            {
              "id": "7bb513e1-6cac-4497-a9cf-6dc0ac1e0c48",
              "name": "ugyfel_nev",
              "value": "={{ $json.from ? $json.from.split('<')[0].trim() : $json.body.name }}",
              "type": "string"
            },
            {
              "id": "71361c91-5ef1-46e7-b9fb-20af0609d9b9",
              "name": "bejovo_uzenet",
              "value": "={{ $json.from ? ($json.textHtml || '').replace(/<[^>]+>/g, '').trim() : $json.body.message }}",
              "type": "string"
            },
            {
              "id": "8059e197-865f-4668-9bfa-772c2b326d48",
              "name": "tudasbazis",
              "value": "# Bégé Design Kft. — AI Agent Tudásbázis / Knowledge Base  > **Verzió:** 2025-03   > **Forrás:** [bege.hu](https://bege.hu)   > **Nyelv:** Magyar (HU) — az ügynök alapértelmezetten magyarul kommunikál   > **Cél:** Központi tudásbázis AI-ügynök (chatbot, voice agent, ügyfélszolgálati asszisztens) számára  ---  ## 1. Cégprofil  ### 1.1 Alapadatok  | Mező | Érték | |---|---| | **Cégnév** | Bégé Design Kft. | | **Alapító / vezető** | Kiss Péter (autodesigner, grafikus, 3M autófólia oktató) | | **Székhely / műhely** | 1117 Budapest, Hunyadi János út 4. (XI. kerület) | | **Telefon** | +36 70 258 0102 | | **E-mail** | info@bege.hu | | **Weboldal** | https://bege.hu | | **Nyitvatartás** | Hétfő – Péntek: 9:00 – 17:00 | | **Tapasztalat** | Több mint 20 év járműdekoráció és autófóliázás | | **Fő profil** | Járműdekoráció, autófóliázás, wrapping |  ### 1.2 Közösségi média  | Platform | Link | |---|---| | Instagram | https://www.instagram.com/bege_design/ | | Facebook | https://www.facebook.com/www.bege.hu | | YouTube | https://www.youtube.com/@begedesignkftautofoliazase4370 | | LinkedIn | https://www.linkedin.com/in/bégé-design-b53975133/ | | Pinterest | https://hu.pinterest.com/begedesign/ | | X (Twitter) | https://x.com/begedesign |  ### 1.3 A cégről – kulcsinformációk  - Magyarország legfelkészültebb és legnagyobb létszámú wrap csapata. - Számtalan hazai és nemzetközi díj és elismerés. - 2015 óta a **3M hivatalos referencia telepítő műhelye** és oktatóhelyszín. - 2 munkatárs rendelkezik a világon elérhető legmagasabb, **4 csillagos** minősítéssel — Magyarországon összesen 7 ilyen szakember van. - Specializáció: magas értékű autók teljes fóliázása — az utóbbi években a legtöbb prémium autót fóliázó cégek között.  ### 1.4 Műhely és biztonság  - **Kapacitás:** Egyszerre 7 autó vagy 2 kamion fóliázása; flottakezelés esetén 23 jármű tárolása. - Zárt telephely, sorompó, 24 órás portaszolgálat. - Személyfelismerő kamerarendszer (belül és kívül). - Online és offline riasztórendszerek. - Élőerős felügyelet: SION Security 24/7. - **Biztosítás:** 200.000.000 Ft-ig terjedő kár- és felelősségbiztosítás.  ### 1.5 Kiemelkedő referenciák  A Bégé Design az évek során egyedi projekteket valósított meg világhírű ügyfeleknek: - **Teqball** asztalok: Maradona, Ronaldinho, Connor McGregor, David Beckham, Justin Bieber, Hugh Jackman, Donald Trump (elnöki szimbólummal ellátott egyedi asztal). - **Deezer** – felfújható gumimatracok fóliázása. - **Svéd olimpikonok** – kajakok egyetlen darab fóliából. - **Magyar Honvédség** – vadászrepülők fóliázása. - **Mastercard** – óriás félgömb krómozása. - Vonatok több európai vasúttársaságnak. - Filmforgatásokhoz készített járműdekorációk.  ---  ## 2. Szolgáltatások  ### 2.1 Autófóliázás (Car Wrap / Wrapping)  A fő szolgáltatás. A karosszéria fóliázás gyors, olcsó, tiszta, és védi a fényezés állapotát.  **Főbb előnyök:** - Bármikor visszafordítható — a 3M prémium fóliák akár 10 év múlva is maradéktalanul eltávolíthatók. - Nem növeli a fényezés vastagságát, nem avultatja az autó értékét. - Az autófóliázásra költött összeg megtérülhet az eladáskor. - Léteznek olyan színek és effektusok, amelyeket fényezéssel egyáltalán nem vagy csak nagyon drágán lehet megoldani. - Új technológiáknak köszönhetően egyes fóliák képesek az öngyógyulásra. - Kb. 350 féle szín közül lehet választani. - 4 év garancia a telepítésre; több mint 6 éve nem volt garanciális javítás.  **Ami megkülönbözteti a Bégé-t:** - Kizárólag professzionális 3M autófóliákat használnak. - Az autókat szakszerűen szétszerelik a precíz fóliázás érdekében (az ár tartalmazza). - 3 fázisú tisztítás és zsírtalanítás. - Speciális Primer réteg a gyenge tapadású pontokon. - Nincs élben vágott fólia — mindenhol visszahajtják. - Minden munkafolyamatot külön szakember végez (szerelő, előkészítő, fóliázó). - A 3M rendszeresen ellenőrzi a fóliák minőségét és tárolási feltételeit.  ### 2.2 Autófólia típusok  | Fóliatípus | Leírás | |---|---| | **Fényes / Metál / Gyöngyház** | Klasszikus, normál fényezéshez hasonló. Gyakran a legújabb autógyári trendszínek is elérhetők. | | **Matt fólia** | Magyarországon a legnépszerűbb wrapping forma (matt szürke, matt fekete). Létezik metálporos matt és szaténfényű változat is. | | **Színezett kővédő fólia (hibrid)** | A 3M kombinálta a kővédő fóliák védelmi tulajdonságait a színfóliák látványával. Egy termékben minden. | | **Kaméleon / flip-flop fólia** | A fény beesési szöge változtatja a színt. Lenyűgöző vizuális hatás, a fényezési ár töredékéért. | | **Karbon fólia** | Domborúra nyomott, szénszál-mintás fólia. Többféle szín és minta elérhető. | | **Szálcsiszolt / fémhatású / famintás** | Természetes anyagok utánzása (fa, bőr, fém). Belső és külső elemekre is alkalmas. | | **Víztiszta kővédő (PPF)** | Láthatatlan védelem: 100–250 mikron vastag, fizikai behatások ellen véd. Öngyógyuló és víztaszító rétegek. | | **Nyomtatott fólia** | Fotóminőségű nyomtatás, reklámok, tuning grafikák. Laminátummal ellátva tartós. | | **Króm hatású fólia** | Tükörhatás, speciális eljárás. Magyarországon korlátozások vannak (kompromisszum szükséges). | | **Üvegtető hatású fólia** | 200 mikron vastag, magas fényű fekete fólia — panoráma tető illúzió, 1,5-2 óra telepítés. | | **Vágott plotterfólia** | Géppel vágott egyedi grafikák (csíkok, feliratok, formák). Gazdaságos reklám- és tuning-megoldás. | | **Szélvédő védő fólia** | Optikailag víztiszta, torzulásmentes. Kövek, bogarak és fizikai behatások ellen véd. |  ### 2.3 Kővédő fóliázás (PPF – Paint Protection Film)  Karosszériavédő fólia, amely láthatatlan védelmet biztosít a fényezésnek.  **Milyen hatásoktól véd:** - Felverődő kövek, kavicsok - Mosásból, tisztításból származó karcok - Bogarak, madárürülék - Parkolási sérülések, ajtó rányitás - Kulccsal való karcolás, szándékos rongálás - Ágak, gallyak okozta karcolás  **Használt fóliák:** 3M Scotchgard és japán Lintec PPF.  **Fólia tulajdonságok:** - 204 mikron vastagság - Víz- és kosztaszító felület - Öngyógyító tulajdonság (napsütés/hő hatására regenerálódik) - Lintec: szuperöngyógyuló réteg (hő/napfény nélkül is) - Clear Coat bevonat - Sárgulásmentes felület - Akár 10+ év élettartam  **Fontos tanács ügyfeleknek:** A középkategóriás és gyenge minőségű kővédő fóliák nemcsak nem védenek, hanem tönkretehetik a fényezést. Mindig prémium minőséget érdemes választani.  Színezett kővédő fóliák is elérhetők (kovedofoliazas.hu).  ### 2.4 Motorfóliázás  Design fóliázás utcai és verseny motorokra. Egyedi grafikák vagy teljes színváltás lehetséges.  ### 2.5 Hajófóliázás  Egyedi színek és grafikák hajókra. Mind tengeri, mind édesvízi hajókra alkalmas.  ### 2.6 Algagátló fóliázás  Környezetbarát megoldás hajókra: - Nem tartalmaz káros anyagokat (védi a vizeket). - Szabadidőt és pénzt spórol a hajó tulajdonosának. - Hosszú élettartam.  ### 2.7 Autóüveg fóliázás  Hővédő üvegfólia, amely kellemesebb klímát biztosít az autóban, kiszűrve a napsugárzás melegét.  ### 2.8 Épületfóliázás  Tartós és egyedi, kedvező árú fóliázás épületekre (üvegfelületek, kirakatok, hővédelem).  ### 2.9 Cégautó fóliázás / Flottadekoráció  - Feltűnő, mobil reklámlehetőség — a telepítés után ingyen reklámoz akár 10 évig. - Food truck, lakókocsi, kisbusz, vonat, furgon — akár 100-as nagyságrendben. - Grafikai tervezési segítség is elérhető.  ### 2.10 Oktatás / Autófóliázás tanfolyam  A 3M Magyarország felkérésére oktatásokat és tréningeket tartanak az autófóliázás témakörében. A műhely biztosítja az oktatókat és a gyakorlati programok helyszínét.  ---  ## 3. Árazás (tájékoztató, ÁFA nélkül, 2025)  > **FONTOS: Az árak tájékoztató jellegűek. A pontos ár minden esetben személyre szabott ajánlat alapján kerül meghatározásra, az autó típusának, méretének és az igényeknek megfelelően. Az ügynök soha ne adjon fix árat — mindig irányítsa az ügyfelet ajánlatkérésre.**  ### 3.1 Teljes karosszéria fóliázás — alapszínek (fényes, matt)  | Kategória | Példa autók | Irányár (Ft-tól) | |---|---|---| | Fapados (kis méret, fényezetlen lökhárító) | — | 320.000 | | Cityvan | Smart, Lupo | 340.000 | | Kisautó | Micra, Panda | 380.000 | | Coupé | Golf, Focus | 420.000 | | Sedan | Jetta, A4 | 440.000 | | Kombi | Mondeo, A6 | 460.000 | | Business | S-Class, S-Type | 480.000 | | Furgon / Kisbusz | Transporter, H1 | 490.000 | | Szupersport / Izomautó | Gallardo, Challenger | 500.000 | | Versenyautók / Egyedi | — | Egyedi ajánlat |  ### 3.2 Egyéb szolgáltatások árai  | Szolgáltatás | Irányár (Ft-tól) | |---|---| | Szélvédő/ablak hővédő fóliázás | 50.000 | | Üveg sötétítés (B oszloptól hátra) | 45.000 | | Fényszóró sötétítés fóliával | 7.500 / db | | Fényszóró színezés | 7.500 / db | | Fényezés védelem (motorháztető) | 70.000 | | Teljes kővédő fóliázás (egész autó) | 590.000 | | Kővédő fóliázás (front rész) | 250.000 | | Részleges fóliázás | Elemszámtól függő | | Dekoratív / egyedi grafika | +~30% az alap fóliázáshoz | | Flotta fóliázás | Egyedi árak, kedvezményes csomagok |  ### 3.3 Árat befolyásoló tényezők  1. **Fólia típusa** — prémium (3M) vs. olcsóbb/kínai (nem ajánlott, rövid élettartam) 2. **Jármű mérete és bonyolultsága** — nem mindig arányos a mérettel (pl. kis autó drágább lehet, mint egy nagyobb) 3. **Telepítés minősége** — klimatizált műhely, minősített szakemberek 4. **Garancia** — prémium fólia = valódi garancia 5. **Egyedi design/minta** — nyomtatás, tervezés → ~30% felár 6. **Fólia vastagsága és technológia** — öngyógyuló, karcolásálló → magasabb kategória 7. **Régi fólia eltávolítása** — plusz munkaidő és költség 8. **Sürgősség** — 1 napos teljes fóliázás → extra díj 9. **Kiegészítők** — promó videó, speciális bevonat stb.  ---  ## 4. Gyakran Ismételt Kérdések (GYIK / FAQ)  ### 4.1 Be kell jegyeztetni az új színt? Ha az autófóliázás meghaladja az 50%-ot, vagy van olyan oldala az autónak ahol az eredeti szín nem látható, bejegyzést kell tenni a forgalmiba. Általában nem írják át a színt, hanem az eredeti szín alá bejegyzik a fólia színét. Erre 15 nap áll rendelkezésre.  ### 4.2 Fényezés vagy autófóliázás? Mindkettőnek megvannak az előnyei. Ha egy fényezett elem sérült, érdemes fényezőre bízni a javítást. Az autófóliázás teljes vagy részleges bevonásra alkalmas, a fényezési ár töredékéért. Ha a cél a színmódosítás vagy design-váltás, az autófóliázás a jobb választás. Fontos: ha a fényezés állapota nem megfelelő (napszívta, pereg, korrodált), azt előbb helyre kell hozni.  ### 4.3 Melyik tartósabb? Megfelelő minőségű fólia felveszi a versenyt az utófényezéssel, sőt sok esetben túlteljesíti. Egyes professzionális fóliák öngyógyító képességgel rendelkeznek.  ### 4.4 Melyik olcsóbb? Azonos minőségben az autófóliázás lényegesen olcsóbb. Az extra színek (gyöngyház, matt-metál, flip-flop) fóliázásnál szinte egy áron készülnek, míg fényezésnél súlyos felár.  ### 4.5 Maradéktalanul eltávolítható? Igen. Az általuk használt fóliák akár 10-12 év élettartamot is elérnek, és a gyári fényezésről bármikor maradéktalanul eltávolíthatók.  ### 4.6 Leszedheti a fényezést? Ha megfelelő minőségű anyaggal és hozzáértő telepítő helyezi fel, és a fényezés gyári vagy megfelelő alapozással készült, a fólia semmilyen körülmények között nem bántja a fényezést. Problémák akkor szoktak előfordulni, ha a fényezés vagy a fólia (vagy mindkettő) minősége nem megfelelő.  ### 4.7 Milyen fóliát válasszak? Minden esetben prémium minőségű öntött fólia ajánlott — a legjobb forma- és színtartás, a legnagyobb színválaszték, a legerősebb garanciális háttér. A két világmárka (3M, Avery) valamelyike javasolt.  ### 4.8 Fóliát külföldi oldalakról rendelni? Nem ajánlott. Az esetek 90%-ában az ilyen fóliák minősége nem megfelelő, gyakran hamisítványok vagy túltárolt anyagok. A problémák sok esetben csak telepítés után derülnek ki.  ### 4.9 Mi a biztosíték, hogy fent marad? Megfelelő minőségű, visszakövethető tekercsszámú anyag + tapasztalt, magas képesítésű professzionális telepítő = tartós eredmény.  ### 4.10 Csak autó fóliázható? Nem! A Bégé fóliáz: motorokat, hajókat, jet-ski-ket, quadokat, kajakokat, nyílászárókat, robotkarokat, hangszertokokat, belső elemeket, kerékpárokat, hűtőket, kávégépeket, bukósisakokat, repülőket, helikoptereket, utánfutókat, emelőket, és még sok más tárgyat.  ### 4.11 Mennyi idő a fóliázás? Pontos időtartamot az ügynök ne adjon — a jármű típusától, a fólia típusától és a munka összetettségétől függ. Irányítsa az ügyfelet személyes egyeztetésre.  ---  ## 5. Az ügynök kommunikációs irányelvei  ### 5.1 Hangnem és stílus - **Barátságos, szakértő, magabiztos** — a Bégé az ország csúcsszintű fóliázó műhelye, ezt képviselje az ügynök. - Tegeződés (a weboldal is tegez). - Magyarul kommunikál alapértelmezetten; angolul is képes, ha az ügyfél angolul szól. - Kerülje a túl formális, bürokratikus nyelvezetet.  ### 5.2 Árazással kapcsolatos szabályok - **SOHA ne adjon fix árat.** Mindig hangsúlyozza, hogy az ár személyre szabott, és az irányárak tájékoztató jellegűek. - Az irányárakat megoszthatja a fenti táblázat alapján, de mindig hozzáteszi: „Pontos árat a járműved felmérése után tudunk adni.\" - Irányítsa az ügyfelet **ajánlatkérésre**: személyesen a műhelyben, telefonon (+36 70 258 0102), e-mailben (info@bege.hu), vagy a weboldalon (bege.hu/kapcsolat).  ### 5.3 Ajánlatkérés flow Ha az ügyfél érdeklődik, az ügynök célja az ajánlatkéréshez szükséges adatok összegyűjtése: 1. **Jármű típusa** (márka, modell, évjárat) 2. **Milyen szolgáltatást kér** (teljes fóliázás, kővédő, részleges, üveg, egyedi stb.) 3. **Preferált fóliatípus / szín** (ha van már elképzelése) 4. **Időkeret** (mikor szeretné hozni az autót) 5. **Elérhetőség** (név, telefon, e-mail)  ### 5.4 Versenytárs-összehasonlítás - Az ügynök ne beszéljen le más cégeket név szerint. - Emelheti ki a Bégé megkülönböztető előnyeit: 3M minősítés, 4 csillagos telepítők, 20+ év tapasztalat, biztonsági infrastruktúra, garancia, prémium anyagok. - Ha az ügyfél olcsóbb alternatívát említ, finoman figyelmeztessen a minőségi kockázatokra (rövid élettartam, fényezés sérülése, nincs garancia).  ### 5.5 Nem elérhető információ Ha az ügynök nem tud válaszolni egy kérdésre: > „Ez egy nagyon jó kérdés! Ebben a kollégáink tudnak a legpontosabban segíteni. Hívd a +36 70 258 0102-es számot, vagy írj az info@bege.hu címre, és gyorsan válaszolunk!\"  ### 5.6 Ajánlatkérésre irányítás Minden beszélgetés célja végső soron az ajánlatkérés vagy személyes konzultáció: - Weboldal: https://bege.hu/kapcsolat/ - Telefon: +36 70 258 0102 - E-mail: info@bege.hu - Személyes látogatás: 1117 Budapest, Hunyadi János út 4.  ---  ## 6. Használt anyagok és partnerek  | Gyártó | Termékek | |---|---| | **3M** | Prémium autófóliák (Wrap Film Series), Scotchgard kővédő fólia, vágósablonok | | **Lintec (Japán)** | PPF kővédő fólia szuperöngyógyuló réteggel |  A 3M Magyarország rendszeresen ellenőrzi a Bégé fóliakészletének minőségét és tárolási feltételeit.  ---  ## 7. SEO és keresési kulcsszavak (kontextus az ügynöknek)  Az alábbi kifejezésekre érdemes figyelnie az ügynöknek, mert ezekkel kereshetnek az ügyfelek:  autófóliázás, autófóliázás Budapest, autófóliázás árak, car wrap, wrapping, matt fóliázás, fényes fóliázás, kaméleon fólia, karbon fólia, króm fólia, kővédő fóliázás, PPF fóliázás, karosszériavédő fólia, kavicsvédő fólia, motorfóliázás, hajófóliázás, algagátló fólia, autóüveg fóliázás, ablak sötétítés, épületfóliázás, cégautó fóliázás, flotta fóliázás, 3M fólia, autófóliázás tanfolyam, autófóliázás garancia, szélvédő védő fólia  ---  *Ez a tudásbázis a bege.hu weboldalon 2025 márciusában elérhető információk alapján készült. Rendszeres frissítés javasolt.*",
              "type": "string"
            },
            {
              "id": "baf29205-9034-4156-a47b-d541fca4fe08",
              "name": "ticket_id",
              "value": "={{ $json.from ? $json.ticket_id : $json.ticket_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -272
      ],
      "id": "067f2f17-acd2-4d9f-9621-ef00201a1f93",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendHTML": true,
        "subject": "=ajánlat",
        "htmlContent": "={{ $('céggel kapcsolatos adat érkezik?').first().json.valasz_email_szovege.replace(/\\n/g, '<br>') }}",
        "sender": "=info@bege.hu",
        "receipients": "={{ $('scoring').first().json.ugyfel_email }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        5472,
        -320
      ],
      "id": "54418eeb-40c1-4ba2-a556-127773817ffa",
      "name": "EMAIL KÜLDÉS",
      "credentials": {
        "sendInBlueApi": {
          "id": "YLO18y3KsP5WUP5I",
          "name": "brevo_info@bege.hu"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A feldogozandó e-mail szövege:  {{ $json.bejovo_uzenet }}\nA válaszadáshoz szükséges tudásbázis:  {{ $json.tudasbazis }}",
        "options": {
          "systemMessage": "=Te a Bégé Design Kft. professzionális, segítőkész és udvarias AI Ügyfélszolgálati asszisztense vagy.\nMi vagyunk Magyarország egyik vezető prémium autófóliázó műhelye és 3M referencia telepítői. Az ügyfelektől beérkező üzenetek egy strukturált adatcsomagban érkeznek hozzád, amely tartalmazza a rendszerinformációkat és magát az üzenetet is.\n\nA TE FELADATAID:\n\nValidáció és Kontextus: Értékeld ki, hogy a beérkező üzenet valós érdeklődés-e. Döntsd el a szövegkörnyezet alapján, hogy ez egy teljesen új projekt/új megkeresés, vagy egy korábban megkezdett beszélgetés folytatása (pl. időpont egyeztetés, válasz egy kérdésünkre).\n\nVálasz megfogalmazása: Ha a megkeresés érvényes, fogalmazz meg egy udvarias, segítőkész és szakmai választ a tudásbázisod alapján. Szólítsd meg az ügyfelet a megadott nevén.\n\nScoring (Pontozás) adatok kinyerése: Nyerd ki a levélből a belső minősítő rendszerünk és a CRM (HubSpot) számára a legfontosabb sarokszámokat és paramétereket.\n\nKIMENET (OUTPUT) - SZIGORÚ FORMÁZÁS:\nA válaszod KIZÁRÓLAG egyetlen érvényes JSON objektum lehet. Ne írj semmilyen bevezető, magyarázó vagy lezáró szöveget a JSON köré (nincs markdown, nincs ```json jelölés sem, csak a tiszta kapcsos zárójelek közötti tartalom)! A JSON formátuma és a lehetséges értékek pontosan a következők legyenek:\n\n{\n\"is_valid\": true,\n\"is_relevant_lead\": true,\n\"kategoria\": \"szinfoliazas | PPF | sotetites | egyeb | ismeretlen\",\n\"is_new_ticket\": true,\n\"valasz_email_szovege\": \"Itt szerepeljen a teljes, elküldésre kész válaszlevél szövege. Sortörésekhez használj \\n jelet. FONTOS: A levél szövegében SZIGORÚAN TILOS dupla idézőjelet (\\\") használnod! Ha valamit ki akarsz emelni, kizárólag szimpla aposztrófot (') használj!\",\n\"jarmu_tipusa\": \"auto | motor | hajo | epulet | uveg | PPF | null\",\n\"jarmu_modell\": \"Ide írd a pontos márkát vagy modellt (pl. Suzuki Swift, BMW M3). Ha nem derül ki, az érték legyen null.\",\n\"jarmu_kategoria\": \"alap | kozep | felso-kozep | premium | szuperauto | null\",\n\"becsult_jarmuszam\": 1,\n\"flotta\": \"Igen | Nem\",\n\"tanfolyam_iranti_erdeklodes\": false,\n\"ugyfel_tipus\": \"maganszemely | vip | kisvallalkozas | kozepes_flotta | nagy_flotta | ugynokseg | kulfoldi | ismeretlen\",\n\"surgosseg\": \"nem_surgos | 2_het | 1_het | esemenyhez_kotott | ismeretlen\",\n\"ugyfel_viselkedes\": \"normal | turelmetlen | elegedetlen | reklamacio | agressziv | alkudozik | jogi | spam\",\n\"becsult_ertek\": \"0-300k | 300k-600k | 600k-1M | 1M-2M | 2M+ | ismeretlen\",\n\"azonnali_piros_trigger\": false\n}\n\nSZABÁLYOK AZ ADATOKHOZ:\n\nis_relevant_lead (LEAD RELEVANCIÁJÁNAK KIÉRTÉKELÉSE): Mielőtt a JSON adatokat generálod, döntsd el, hogy a megkeresés a mi profilunkba vág-e (járműfóliázás, PPF, ablakfóliázás járműre, stb.). Értéke true, ha igen. Ha a megkeresés teljesen másról szól (pl. konyhabútor, épületüveg, szobafestés), akkor az érték kötelezően false! Ha false, akkor a jarmu_tipusa, jarmu_modell, jarmu_kategoria és becsult_jarmuszam értékeket KÖTELEZŐEN hagyd üresen (null)! A valasz_email_szovege mezőben ilyenkor is fogalmazz meg egy udvarias elutasító választ, amiben megemlíted a saját, autós szolgáltatásainkat.\n\nis_relevant_lead (LEAD RELEVANCIÁJÁNAK KIÉRTÉKELÉSE): Mielőtt a JSON adatokat generálod, Szigorúan vizsgáld meg az üzenet KONTEXTUSÁT és a feladó SZÁNDÉKÁT! Döntsd el, hogy a megkeresés a mi profilunkba vág-e.\n\nÉrtéke KIZÁRÓLAG akkor 'true', ha a feladó egy potenciális ügyfél, aki TŐLÜNK szeretne szolgáltatást (karosszériafóliázás, PPF, ablakfóliázás bármilyen járműre: autó, hajó, motor stb.) megrendelni, vagy arra árajánlatot/információt kérni.\n\nMINDEN MÁS ESETBEN KÖTELEZŐEN 'false' értéket kell adnod! Szigorúan 'false', ha:\n\nA feladó a SAJÁT termékét vagy szolgáltatását akarja bemutatni/eladni nekünk (pl. B2B értékesítés, beszállítói megkeresés, innovatív megoldások ajánlgatása).\n\nAz üzenet hivatalos, PR, lobbi vagy tájékoztató jellegű levél (pl. minisztériumnak, államtitkárnak szóló megkeresések, sajtóközlemények).\n\nA megkeresés nem járműre vonatkozik (pl. konyhabútor, épületüveg, szobafestés).\n\nÁltalános spam vagy marketing hírlevél.\n\nHa az érték false, akkor a jarmu_tipusa, jarmu_modell, jarmu_kategoria és becsult_jarmuszam értékeket KÖTELEZŐEN hagyd üresen (null)! A valasz_email_szovege mezőben ilyenkor fogalmazz meg egy udvarias elutasító választ, amiben megemlíted a saját, járműfóliázási szolgáltatásainkat (értékesítési vagy PR levél esetén elég egy nagyon rövid, határozott elutasítás).\n\nuj_uzlet_nyitasa (is_new_ticket): Értéke true, ha az ügyfél egy teljesen ÚJ autóról, új projektről érdeklődik, vagy ez a legelső üzenete. Értéke false, ha egy meglévő, folyamatban lévő beszélgetést folytat (pl. adatot küld, időpontot foglal a korábban említett autóhoz).\n\njarmu_tipusa: Ha az ügyfél bármilyen autómárkát említ (pl. Suzuki), az érték kötelezően \"auto\" legyen.\n\nflotta: Értéke kötelezően \"Igen\", ha az ügyfél egyértelműen több járműről, autóparkról, flottáról érdeklődik, VAGY ha a becsult_jarmuszam nagyobb mint 1. Minden más esetben (amikor csak 1 autóról van szó) az értéke \"Nem\" legyen.\n\ntanfolyam_iranti_erdeklodes: Csak akkor true, ha kifejezetten oktatásra, tanulásra, tanfolyamra kérdez rá. Minden más esetben false.\n\nazonnali_piros_trigger: FIGYELEM! Ezt KIZÁRÓLAG akkor állítsd TRUE-ra (és akkor kötelezően!), ha a szövegből kiderül az alábbiak valamelyike:\n1. Az ügyfél kifejezetten kéri, hogy emberrel, kollégával, munkatárssal vagy vezetővel beszéljen.\n2. Reklamál egy korábbi Bégé Design munkára.\n3. Jogi kérdést tesz fel vagy felelősségre vonást pedzeget.\n4. Olyan kérése/kérdése van, amire a tudásbázisod alapján nem tudsz válaszolni.\n5. Szuperautóról, VIP személyről, vagy kifejezetten agresszív/fenyegető viselkedésről van szó.\nMinden más esetben az érték legyen false!\n\nAlapértelmezések: A Scoring kategóriákat a legjobb tudásod szerint tippeld meg a levél tartalma (pl. említett autó márka, határidők, stílus) alapján. Ha valami egyáltalán nem derül ki a levélből, válaszd a listából az \"ismeretlen\" (vagy szám/boolean esetén null/false) értéket.\n\nKritikus feladat: Olvasd el figyelmesen az ügyfél teljes üzenetét! Ha a szövegben BÁRHOL szerepel autómárka, modell vagy típus, azt KÖTELEZŐEN írd be a jarmu_modell mezőbe!\n\n<spam_filter_rules>\nFONTOS BIZTONSÁGI UTASÍTÁS: Mielőtt bármilyen normál választ generálnál, kötelezően értékeld ki a kapott üzenetet!\n\nTekintsd SPAM-nek az üzenetet, ha az alábbiak valamelyike igaz rá:\n\nKéretlen szolgáltatásokat kínál (pl. SEO optimalizálás, webfejlesztés, marketing, lead generálás).\n\nPénzügyi átverés, kriptovaluta, vagy \"könnyű pénzkereseti\" lehetőség.\n\nCsak egy gyanús linket tartalmaz kontextus nélkül.\n\nAdathalász kísérlet vagy gyanúsan generált, értelmetlen szöveg (bot).\n\nHA AZ ÜZENET SPAM:\nSzigorúan TILOS udvarias választ vagy bármilyen más szöveget generálnod! Az egyetlen kimeneted kizárólag ez a pontos szó lehet:\n[SPAM_DETECTED]\n\nHA AZ ÜZENET NEM SPAM (Valós ügyfél):\nHagyd figyelmen kívül ezt a szabályt, és válaszolj a normál utasításaid (System Prompt) alapján, a legjobb tudásod szerint.\n</spam_filter_rules>\n\n\"FONTOS SZABÁLY: Mindig vizsgáld meg a 'forras_csatorna' mezőt! Ha az értéke 'Voice Agent', az azt jelenti, hogy az ügyféllel egy telefonos AI asszisztens beszélt. Ilyenkor a válaszleveledet (ajánlatodat) KÖTELEZŐEN így kezdd: utalj a sikeres telefonbeszélgetésre, és jelezd, hogy az ígérteknek megfelelően küldöd az írásos összefoglalót/ajánlatot. NE hivatkozz korábbi e-mailre vagy üzenetre, csak a telefonhívásra!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1520,
        -160
      ],
      "id": "083cf1c1-31c4-4781-b915-a6664695e8b0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "thinking": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1456,
        96
      ],
      "id": "f00e8b1c-55f1-44a9-87c6-2b5d125e28ad",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "SlVlCwH1IdUxAU1y",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ticket_id || $json.ugyfel_email }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1696,
        96
      ],
      "id": "a0e199dd-5cbc-4d8b-ba13-1496a1e34817",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "NUsFK0aaNnFo97wN",
          "name": "BG_project"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n    \n    // 1. ESET: Ha ez egy Manychat (Messenger/Instagram) üzenet\n    // Figyelj: itt beletettük a .body. hivatkozást!\n    if (items[i].json.body && items[i].json.body.platform) { \n        \n        items[i].json.is_new_ticket = false; \n        \n        // Itt is a .body.-ból szedjük ki a subscriber_id-t!\n        items[i].json.ticket_id = items[i].json.body.subscriber_id; \n\n    } \n    // 2. ESET: Ha ez egy E-mail\n    else {\n        let subject = items[i].json.subject || (items[i].json.header && items[i].json.header.subject) || \"\"; \n        let match = subject.match(/\\[TicketID:\\s*(\\d+)\\]/i);\n\n        if (match && match[1]) {\n            // TALÁLAT VAN az e-mail tárgyában\n            items[i].json.is_new_ticket = false;\n            items[i].json.ticket_id = match[1]; \n        } else {\n            // NINCS TALÁLAT, ez egy új e-mail\n            items[i].json.is_new_ticket = true;\n            items[i].json.ticket_id = null; \n        }\n    }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -272
      ],
      "id": "fd39d4e5-db54-43a5-83e1-e21093775b0f",
      "name": "ticket_id"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  try {\n    // 1. Kinyerjük az AI Agent által adott nyers szöveget az 'output' mezőből!\n    let aiText = item.json.output;\n\n    // Ha véletlenül üres lenne a válasz, rögtön hibát dobunk, hogy ne menjen tovább\n    if (!aiText) {\n        throw new Error(\"Nem érkezett válasz az AI Agent-től (az 'output' mező üres).\");\n    }\n\n    // 2. Eltávolítjuk a felesleges markdown formázást (```json és ```)\n    let cleanString = aiText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\n    // 3. Valódi JSON objektummá (adatokká) alakítjuk\n    let parsedJson = JSON.parse(cleanString);\n\n    // 4. Bekerülnek az adatok a kimenetbe, kibontva\n    item.json = {\n      ...item.json,\n      ...parsedJson\n    };\n\n    // --- 5. BIZTONSÁGI HÁLÓ: Adattípusok javítása az If node számára ---\n    // Ha az AI véletlenül szövegként (String) adta vissza: \"true\" vagy \"false\"\n    if (typeof item.json.is_relevant_lead === 'string') {\n        item.json.is_relevant_lead = (item.json.is_relevant_lead.toLowerCase() === 'true');\n    } \n    // Ha az AI teljesen kihagyta a válaszból:\n    else if (item.json.is_relevant_lead === undefined) {\n        item.json.is_relevant_lead = false; // Biztonságos alapérték, hogy ne fagyjon le a rendszer\n    }\n\n    // Feleslegessé vált nyers 'output' törlése az átláthatóság miatt\n    delete item.json.output;\n\n  } catch (error) {\n    // Hibakezelés, ha a Claude mégsem tiszta JSON-t adna\n    item.json.json_error = true;\n    item.json.error_message = error.message;\n    item.json.nyers_szoveg = item.json.output; // Elmentjük, miből lett a hiba, hogy lásd\n    item.json.is_relevant_lead = false; // Hiba esetén is hamisra állítjuk, hogy a HubSpot védve maradjon\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -176
      ],
      "id": "2422988d-7f4b-45ef-80ba-c94b73aaef16",
      "name": "ai_parse"
    },
    {
      "parameters": {
        "jsCode": "// 1. Megszerezzük a Supabase-ből lekért szabályokat\nlet configRows = $input.all();\nlet config = {};\nfor (let row of configRows) {\n    config[row.json.kulcs] = row.json.pont;\n}\n\n// 2. BEKÉRJÜK AZ ÜGYFÉLADATOT (AI feldolgozás)\nlet data = $('ai_parse').first().json;\n\n// 3. BEKÉRJÜK AZ ALAPADATOKAT (Okos kétirányú keresés)\nlet editFieldsData;\ntry {\n    // Megpróbálja a felső ágat (Email / Messenger)\n    editFieldsData = $('Edit Fields').first().json;\n} catch (e) {\n    try {\n        // Ha nem jön fentről, megpróbálja a lenti ágat (Voice Agent)\n        editFieldsData = $('voice agent szükséges adatok').first().json;\n    } catch (err) {\n        // Fallback, ha valami nagyon elcsúszna (de nem fog)\n        editFieldsData = { ugyfel_nev: \"Ismeretlen\", ugyfel_email: \"Nincs\", bejovo_uzenet: \"Nincs\", forras_csatorna: \"Ismeretlen\" };\n    }\n}\n\n// 4. BEKÉRJÜK A TICKET ADATOT (ticket_id)\nlet ticketData;\ntry {\n    ticketData = $('ticket_id').first().json;\n} catch (e) {\n    // Ha a Voice ágon generáltuk, ott nincs külön is_new_ticket mező, szóval generálunk egyet\n    ticketData = { \n        ticket_id: editFieldsData.ticket_id || $('voice agent szükséges adatok').first().json.ticket_id, \n        is_new_ticket: true \n    };\n}\n\nlet EP = 0;\n\n// 5. Okos pontszámítás\nfunction addPoints(categoryName, value) {\n    if (!value || value === \"ismeretlen\" || value === \"normal\") return 0;\n    let searchKey = categoryName + \"_\" + value;\n    return config[searchKey] || 0;\n}\n\nEP += addPoints('jarmu_kategoria', data.jarmu_kategoria);\nEP += addPoints('ugyfel_tipus', data.ugyfel_tipus);\nEP += addPoints('surgosseg', data.surgosseg);\nEP += addPoints('ugyfel_viselkedes', data.ugyfel_viselkedes);\nEP += addPoints('becsult_ertek', data.becsult_ertek);\n\n// 6. Szintek beállítása és AZONNALI PIROS TRIGGEREK\nlet limit_sarga = config['kuszobertek_sarga'] || 40;\nlet limit_piros = config['kuszobertek_piros'] || 70;\n\nlet is_piros_trigger = false;\n\nif (data.azonnali_piros_trigger === true || data.azonnali_piros_trigger === \"true\") is_piros_trigger = true;\nif (data.jarmu_kategoria === \"szuperauto\" || data.jarmu_kategoria === \"exkluziv\") is_piros_trigger = true;\nif (data.ugyfel_tipus === \"vip\") is_piros_trigger = true;\nif (data.ugyfel_viselkedes === \"agressziv\" || data.ugyfel_viselkedes === \"fenyegeto\" || data.ugyfel_viselkedes === \"reklamacio\") is_piros_trigger = true;\n\nlet jarmu_szam = parseInt(data.becsult_jarmuszam) || 0;\nif (jarmu_szam >= 10) is_piros_trigger = true;\n\n// VÉGSŐ SZINT MEGHATÁROZÁSA\nlet szint = \"ZÖLD\";\nif (is_piros_trigger || EP >= limit_piros) {\n    szint = \"PIROS\";\n} else if (EP >= limit_sarga) {\n    szint = \"SÁRGA\";\n}\n\n// --- JAVÍTOTT ÉS OKOSÍTOTT HUBSPOT FORDÍTÓGÉP ---\nlet hs_kategoria = \"\"; \nif (data.jarmu_kategoria === \"premium\" || data.jarmu_kategoria === \"felso-kozep\") hs_kategoria = \"prémium\";\nelse if (data.jarmu_kategoria === \"szuperauto\") hs_kategoria = \"exkluzív\";\nelse if (data.jarmu_kategoria === \"alap\" || data.jarmu_kategoria === \"kozep\") hs_kategoria = \"standard\";\n\nlet hs_tipusa = \"\"; \nif (data.jarmu_tipusa && data.jarmu_tipusa.trim() !== \"\") {\n    let ai_tipus = data.jarmu_tipusa.toLowerCase();\n    if (ai_tipus.includes(\"motor\")) hs_tipusa = \"motor\";\n    else if (ai_tipus.includes(\"hajó\") || ai_tipus.includes(\"hajo\")) hs_tipusa = \"hajó\";\n    else if (ai_tipus.includes(\"épület\") || ai_tipus.includes(\"epulet\")) hs_tipusa = \"épület\";\n    else if (ai_tipus.includes(\"üveg\") || ai_tipus.includes(\"uveg\")) hs_tipusa = \"üveg\";\n    else if (ai_tipus.includes(\"ppf\")) hs_tipusa = \"PPF\";\n    else hs_tipusa = \"autó\";\n}\n\n// ITT VOLT A MÁSIK HIBA: Intelligens csatornakeresés\nlet hs_lead_forras = editFieldsData.forras_csatorna || \"Ismeretlen\"; \n\nlet hs_jarmuszam = (!data.becsult_jarmuszam || data.becsult_jarmuszam === \"ismeretlen\") ? \"\" : data.becsult_jarmuszam;\n\nif (hs_tipusa !== \"\" && hs_jarmuszam === \"\") hs_jarmuszam = \"1\";\n\n// ÚJ: FLOTTA KEZELÉS\nlet hs_flotta = \"Nem\";\nif (data.flotta === \"Igen\" || parseInt(hs_jarmuszam) > 1) {\n    hs_flotta = \"Igen\";\n}\n\n// ÚJ: STAGE ELLENŐRZÉS (Megvan minden adat a HubSpot ugráshoz?)\nlet minden_adat_megvan = false;\nif (\n    hs_kategoria !== \"\" && hs_tipusa !== \"\" && hs_jarmuszam !== \"\" &&\n    data.jarmu_modell && data.jarmu_modell !== \"null\" && data.jarmu_modell !== \"ismeretlen\" && data.jarmu_modell.trim() !== \"\" &&\n    data.becsult_ertek && data.becsult_ertek !== \"ismeretlen\"\n) {\n    minden_adat_megvan = true;\n}\n\n// ÚJ: BIZTONSÁGI FELÜLÍRÁS REKLAMÁCIÓKHOZ ÉS VIP-EKHEZ\n// Ha az ügyfél dühös vagy VIP, erőszakkal \"true\"-ra tesszük a relevanciát!\nlet hs_is_relevant = (data.is_relevant_lead === true || data.is_relevant_lead === \"true\");\nif (is_piros_trigger) {\n    hs_is_relevant = true;\n}\n\n// 7. AZ N8N KÖVETELMÉNYE: VISSZATÉRÉS\nreturn [{\n  json: {\n    ...data,\n    is_relevant_lead: hs_is_relevant, // <-- A biztonságos relevancia megy tovább!\n    is_new_ticket: ticketData.is_new_ticket,\n    ticket_id: ticketData.ticket_id,\n    ugyfel_nev: editFieldsData.ugyfel_nev,\n    ugyfel_email: editFieldsData.ugyfel_email,\n    bejovo_uzenet: editFieldsData.bejovo_uzenet,\n    escalation_score: EP,\n    escalation_level: szint,\n    jarmu_kategoria: hs_kategoria,\n    jarmu_tipusa: hs_tipusa, \n    lead_forras: hs_lead_forras, \n    becsult_jarmuszam: hs_jarmuszam,\n    flotta: hs_flotta,\n    tanfolyam_iranti_erdeklodes: (data.tanfolyam_iranti_erdeklodes === \"true\" || data.tanfolyam_iranti_erdeklodes === true) ? \"true\" : \"false\",\n    minden_adat_megvan: minden_adat_megvan // <-- A HubSpot stage kapcsoló\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        -176
      ],
      "id": "b7351a22-24d0-44b2-9c90-8a5d904710a5",
      "name": "scoring"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scoring_config",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2048,
        -176
      ],
      "id": "997d5cc6-05cc-4780-b7c5-284ab486b73b",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "GMv0Yw4holIK6mwo",
          "name": "Bégé Design"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('scoring').first().json.lead_forras }}",
                    "rightValue": "E-mail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "861e6d6b-f9b4-49de-a709-3f8f0e236d18"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "E-mail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9dc8c8a2-3926-49b6-bf81-671ac14d3f86",
                    "leftValue": "={{ $('scoring').first().json.lead_forras }}",
                    "rightValue": "messenger",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Messenger"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6434c9bf-0095-41f6-97eb-41e5cf232826",
                    "leftValue": "={{ $('scoring').first().json.lead_forras }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8bcd0668-6bb8-41c0-9e07-bfad1bb992fb",
                    "leftValue": "={{ $('scoring').first().json.lead_forras }}",
                    "rightValue": "Voice Agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Agent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5024,
        -128
      ],
      "id": "afdf2b60-f008-43d3-9ab6-dd0c0243dcd1",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aff52824-f9d0-475d-95d5-3780760dbbb8",
              "leftValue": "={{ $json.output }}",
              "rightValue": "[SPAM_DETECTED]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        -560
      ],
      "id": "856ecd8a-3955-4c42-9e96-40bad6799d5d",
      "name": "spam?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "de8d0370-8857-41bd-8d55-a5654fe5b9b9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        336
      ],
      "id": "5e0fc10c-6e60-412b-86f5-8964356ac1a6",
      "name": "VoiceAgent",
      "webhookId": "de8d0370-8857-41bd-8d55-a5654fe5b9b9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "889549dd-8720-44e7-a8af-30a66c388dac",
              "leftValue": "={{ $json.is_relevant_lead }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3040,
        -656
      ],
      "id": "16859a3c-e6cf-4d2d-a3bf-a76845183a89",
      "name": "céggel kapcsolatos adat érkezik?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c4225aa-35c2-4ee7-a027-6a107f070019",
              "leftValue": "={{ $json.is_new_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3392,
        -672
      ],
      "id": "04866af6-371f-4564-8573-c086739e018c",
      "name": "meglévő ügyfél vagy nem?"
    },
    {
      "parameters": {
        "sendHTML": true,
        "subject": "=🟡 SÁRGA LEAD: {{ $('scoring').first().json.escalation_score }} pont - {{ $('scoring').first().json.ugyfel_nev }}",
        "htmlContent": "=<h3>Szia!</h3>\n<p>Egy új, figyelmet igénylő (SÁRGA) lead érkezett a rendszerbe!</p>\n<p>Az AI automatikusan válaszolt neki, de érdemes fél szemmel ránézned.</p>\n\n<h4>ÜGYFÉL ADATAI:</h4>\n<ul>\n  <li><b>Név:</b> {{ $('scoring').first().json.ugyfel_nev }}</li>\n  <li><b>Bejövő csatorna:</b> {{ $('scoring').first().json.lead_forras }}</li>\n  <li><b>Elérhetőség:</b> {{ $('scoring').first().json.ugyfel_email.includes('dummy') ? 'Közösségi média fiók (Keresd a ' + $('scoring').first().json.lead_forras + ' inboxban!)' : $('scoring').first().json.ugyfel_email }}</li>\n  <li><b>Pontszám:</b> <span style=\"background-color: #FFD700; padding: 2px 5px; font-weight: bold; border-radius: 3px;\">{{ $('scoring').first().json.escalation_score }} (SÁRGA)</span></li>\n</ul>\n\n<h4>PROJEKT ADATAI:</h4>\n<ul>\n  <li><b>Jármű:</b> {{ $('scoring').first().json.jarmu_modell }} ({{ $('scoring').first().json.jarmu_kategoria }})</li>\n  <li><b>Becsült érték:</b> {{ $('scoring').first().json.becsult_ertek }}</li>\n  <li><b>Ügyfél típus:</b> {{ $('scoring').first().json.ugyfel_tipus }}</li>\n</ul>\n\n<h4>AZ ÜGYFÉL EREDETI ÜZENETE:</h4>\n<div style=\"background-color: #f4f4f4; padding: 15px; border-left: 4px solid #FFD700; font-family: monospace;\">\n  <i>{{ $('scoring').first().json.bejovo_uzenet ? $('scoring').first().json.bejovo_uzenet.replace(/\\n/g, '<br>') : 'Nincs megjeleníthető üzenet.' }}</i>\n</div>\n\n<p><small>(A lead automatikusan bekerült a HubSpotba, és az AI elküldte neki a normál válaszlevelet.)</small></p>",
        "sender": "=bege@thinkai.hu",
        "receipients": "info@bege.hu",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        3040,
        208
      ],
      "id": "dee6d1d7-1edd-4774-b4c6-257479f42121",
      "name": "E-mail küldés kollégának",
      "credentials": {
        "sendInBlueApi": {
          "id": "3P8vCERWOgNapDtb",
          "name": "Brevo account_bg"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.escalation_level }}",
                    "rightValue": "ZÖLD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "96ffb82f-3c79-47eb-be67-951254e83ed2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Zöld"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c8a5d36c-bc36-4d66-8ffb-2a04c5be44d8",
                    "leftValue": "={{ $json.escalation_level }}",
                    "rightValue": "SÁRGA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sárga"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d6e9ec66-0015-4902-b699-8ffc870ce060",
                    "leftValue": "={{ $json.escalation_level }}",
                    "rightValue": "PIROS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Piros"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2432,
        -192
      ],
      "id": "07963d7d-d319-4a50-bc7d-6ca9d8f4fe58",
      "name": "escalation level"
    },
    {
      "parameters": {
        "sendHTML": true,
        "subject": "=🚨 PIROS RIASZTÁS: Azonnali VIP átvétel! - {{ $('scoring').first().json.ugyfel_nev }} ({{ $('scoring').first().json.escalation_score }} pont)",
        "htmlContent": "=<h3 style=\"color: #d9534f;\">🚨 FIGYELEM! AZONNALI ÁTVÉTEL SZÜKSÉGES!</h3>\n<p>Egy kiemelt prioritású (PIROS) lead érkezett a rendszerbe!</p>\n<p><b>Az ügyfél egy VIP sablon választ fog kapni az AI-tól. Kérlek, minél hamarabb vedd fel vele a kapcsolatot személyesen!</b></p>\n\n<h4>ÜGYFÉL ADATAI:</h4>\n<ul>\n  <li><b>Név:</b> {{ $('scoring').first().json.ugyfel_nev }}</li>\n  <li><b>Bejövő csatorna:</b> {{ $('scoring').first().json.lead_forras }}</li>\n  <li><b>Elérhetőség:</b> {{ $('scoring').first().json.ugyfel_email.includes('dummy') ? 'Közösségi média fiók (Keresd a ' + $('scoring').first().json.lead_forras + ' inboxban!)' : $('scoring').first().json.ugyfel_email }}</li>\n  <li><b>Pontszám:</b> <span style=\"background-color: #d9534f; color: white; padding: 2px 5px; font-weight: bold; border-radius: 3px;\">{{ $('scoring').first().json.escalation_score }} (PIROS)</span></li>\n</ul>\n\n<h4>PROJEKT ADATAI:</h4>\n<ul>\n  <li><b>Jármű:</b> {{ $('scoring').first().json.jarmu_modell }} ({{ $('scoring').first().json.jarmu_kategoria }})</li>\n  <li><b>Becsült érték:</b> {{ $('scoring').first().json.becsult_ertek }}</li>\n  <li><b>Ügyfél típus:</b> {{ $('scoring').first().json.ugyfel_tipus }}</li>\n</ul>\n\n<h4>AZ ÜGYFÉL EREDETI ÜZENETE:</h4>\n<div style=\"background-color: #fdf5f5; padding: 15px; border-left: 4px solid #d9534f; font-family: monospace;\">\n  <i>{{ $('scoring').first().json.bejovo_uzenet ? $('scoring').first().json.bejovo_uzenet.replace(/\\n/g, '<br>') : 'Nincs megjeleníthető üzenet.' }}</i>\n</div>\n\n<p><small>(A lead bekerült a HubSpotba.)</small></p>",
        "sender": "=bege@thinkai.hu",
        "receipients": "=info@bege.hu",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        3040,
        400
      ],
      "id": "79a343f6-ce12-47a3-95dc-19dcac7b701b",
      "name": "E_Mail kollégának_VIP ügyfél",
      "credentials": {
        "sendInBlueApi": {
          "id": "3P8vCERWOgNapDtb",
          "name": "Brevo account_bg"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0e71037-36e7-4522-b04d-513bfa84901a",
              "name": "valasz_email_szovege",
              "value": "={{\n  ($json.escalation_score >= 70 || $json.jarmu_kategoria == 'exkluzív' || $json.jarmu_kategoria == 'prémium' || parseInt($json.becsult_jarmuszam) >= 10) \n  ? \n  `<p>Szia <b>${$json.ugyfel_nev}</b>! 👋</p>\n   <p>Nagyon köszönjük a megkeresést — ez egy igazán különleges és izgalmas projektnek hangzik! 🏎️✨</p>\n   <p>Mivel az ilyen exkluzív és kiemelt volumenű munkáknál a legapróbb részletek is számítanak, ezért az automatikus rendszerünk helyett <b>kollégánk hamarosan személyesen fogja felvenni veled a kapcsolatot!</b> Így a lehető legpontosabb és legprofibb megoldást tudjuk nyújtani neked.</p>\n   <p>Kérlek, adj nekünk egy kis időt, és hamarosan jelentkezünk a részletekkel! ⏳</p>\n   <p>Ha addig is bármi kérdésed lenne, nyugodtan keress minket az alábbi elérhetőségeken:</p>\n   <p>📞 +36 70 258 0102 (H–P: 9:00–17:00)<br>📧 info@bege.hu<br>🌐 <a href=\"https://bege.hu/kapcsolat/\">https://bege.hu/kapcsolat/</a></p>\n   <p>Alig várjuk a közös munkát!</p>\n   <p>Üdvözlettel,<br><b>Bégé Design Kft. csapata</b><br><a href=\"https://bege.hu\">bege.hu</a></p>`\n  : \n  `<p>Szia <b>${$json.ugyfel_nev}</b>! 👋</p>\n   <p>Nagyon köszönjük a megkeresést!</p>\n   <p>Mivel a leveled alapján úgy látjuk, hogy a kérésedre a legpontosabb és legjobb választ egy személyes egyeztetés során tudjuk megadni, ezért az automatikus rendszerünk helyett <b>kollégánk hamarosan személyesen fogja felvenni veled a kapcsolatot!</b></p>\n   <p>Kérlek, adj nekünk egy kis időt, és hamarosan jelentkezünk! ⏳</p>\n   <p>Ha addig is sürgős kérdésed lenne, nyugodtan keress minket az alábbi elérhetőségeken:</p>\n   <p>📞 +36 70 258 0102 (H–P: 9:00–17:00)<br>📧 info@bege.hu<br>🌐 <a href=\"https://bege.hu/kapcsolat/\">https://bege.hu/kapcsolat/</a></p>\n   <p>Üdvözlettel,<br><b>Bégé Design Kft. csapata</b><br><a href=\"https://bege.hu\">bege.hu</a></p>`\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        16
      ],
      "id": "c1fd30eb-1b5d-4c26-b2c2-ca113b3f37e7",
      "name": "VIP_válasz_ügyfélnek"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. ÉKEZET JAVÍTÓ MOSÓGÉP ---\nfunction fixText(text) {\n    if (!text || typeof text !== 'string') return text;\n    let lines = text.split('\\n');\n    let fixedLines = lines.map(line => {\n        if (line.includes('Ã')) {\n            try { return Buffer.from(line, 'latin1').toString('utf8'); } catch(e) { return line; }\n        }\n        return line;\n    });\n    return fixedLines.join('\\n');\n}\n\n// --- 2. LEVELEZÉS VÁGÓ (AGRESSZÍV VERZIÓ) ---\nfunction trimQuotedText(text) {\n    if (!text || typeof text !== 'string') return text;\n    let t = text;\n    \n    // Magyar Gmail (ezt írta:)\n    if (t.toLowerCase().includes('ezt írta')) {\n        // Kettévágjuk a szöveget pontosan az \"ezt írta\" kifejezésnél\n        t = t.split(/ezt írta/i)[0];\n        \n        // Radír: letöröljük a végén ragadt e-mail címet és a kacsacsőröket (pl. <bege@thinkai.hu>)\n        t = t.replace(/(?:<|&lt;)?\\s*[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}\\s*(?:>|&gt;)?\\s*$/, '');\n    }\n    \n    // Outlook és egyéb (Eredeti üzenet, Feladó:)\n    t = t.split(/Eredeti üzenet/i)[0];\n    t = t.split(/Feladó:/i)[0];\n    t = t.split(/_{10,}/)[0]; // Hosszú aláhúzás vonal\n    t = t.split(/-{10,}/)[0]; // Hosszú kötőjel vonal\n    \n    // Angol levelezők (wrote:)\n    if (t.toLowerCase().includes('wrote:')) {\n        t = t.split(/wrote:/i)[0];\n        t = t.replace(/on\\s+.*$/i, ''); // Letörli az \"On [dátum]\" részt\n    }\n    t = t.split(/From:/i)[0];\n    \n    return t.trim();\n}\n\n// --- FŐ CIKLUS: Végigmegyünk az IMAP node-ból beérkező összes adaton ---\nfor (let item of $input.all()) {\n    \n    // Megjavítjuk a sima e-mail szöveget ÉS utána levágjuk a végét!\n    if (item.json.textPlain) {\n        item.json.textPlain = fixText(item.json.textPlain);\n        item.json.textPlain = trimQuotedText(item.json.textPlain);\n    }\n    \n    // Megjavítjuk a HTML e-mail szöveget ÉS utána levágjuk a végét!\n    if (item.json.textHtml) {\n        item.json.textHtml = fixText(item.json.textHtml);\n        item.json.textHtml = trimQuotedText(item.json.textHtml);\n    }\n    \n    // Megjavítjuk a Tárgyat (Subject) is! \n    if (item.json.subject) item.json.subject = fixText(item.json.subject);\n    if (item.json.header && item.json.header.subject) {\n        item.json.header.subject = fixText(item.json.header.subject);\n    }\n}\n\n// A KÖTELEZŐ LÉPÉS: Továbbküldjük a javított adatokat az n8n-nek!\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -160
      ],
      "id": "17af05bb-1c1c-426b-a55a-987d957556f1",
      "name": "bejövő üzenet cím_tartalom javítás"
    },
    {
      "parameters": {
        "sendHTML": true,
        "subject": "=Válasz a megkeresésére - Bégé Design",
        "htmlContent": "=<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; color: #222; line-height: 1.6;\">\n\n  <p>Kedves <b>{{ $json.ugyfel_nev || 'Érdeklődő' }}</b>!</p>\n\n  <p>Köszönjük a megkeresését és a bizalmát!</p>\n\n  <p>Sajnos a leírt projekt nem illik bele a cégünk profiljába. A Bégé Design Kft. kifejezetten <b>prémium autófóliázással, karosszériavédő (PPF) fóliázással, flottadekorációval és járművek sötétítésével</b> foglalkozik.</p>\n\n  <p>Mivel a kérése ezen a területen kívül esik, sajnos nem tudunk érdemben segíteni vagy árajánlatot adni a feladatra.</p>\n\n  <p>Sok sikert kívánunk a projektjéhez és a megfelelő kivitelező megtalálásához!</p>\n\n  <p>Üdvözlettel,<br>\n  <b>Bégé Design Kft. csapata</b><br>\n  <a href=\"https://bege.hu\">bege.hu</a></p>\n\n</div>",
        "sender": "=info@bege.hu",
        "receipients": "={{ $('céggel kapcsolatos adat érkezik?').item.json.ugyfel_email }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        3904,
        -240
      ],
      "id": "1ecddbd4-e51e-4938-ba08-e362b6553aec",
      "name": "email_nem_autós_megkeresés",
      "credentials": {
        "sendInBlueApi": {
          "id": "YLO18y3KsP5WUP5I",
          "name": "brevo_info@bege.hu"
        }
      }
    },
    {
      "parameters": {
        "sendHTML": true,
        "subject": "=⚠️ Jóváhagyás szükséges: Válasz  {{ $('scoring').first().json.ugyfel_nev }}  részére",
        "htmlContent": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; color: #333;\">\n  <h3 style=\"color: #2c3e50; margin-bottom: 10px;\">🤖 AI Válasz Jóváhagyása</h3>\n  \n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Ügyfél neve:</b> {{ $('scoring').first().json.ugyfel_nev }}</p>\n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Forrás:</b> {{ $('scoring').first().json.lead_forras }}</p>\n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Ügyfél üzenete:</b> <br><i style=\"color: #666;\">{{ $('scoring').first().json.bejovo_uzenet }}</i></p>\n\n  <hr style=\"border: 0; border-bottom: 1px solid #e0e0e0; margin: 20px 0;\">\n\n  <p style=\"font-size: 14px; font-weight: bold; color: #d93025;\">Ezt küldené az AI az ügyfélnek (Előnézet):</p>\n\n  <div style=\"background-color: #f8f9fa; border: 1px solid #dadce0; border-radius: 8px; padding: 15px; font-size: 13px; line-height: 1.6; color: #202124; white-space: pre-wrap; box-shadow: 0 1px 2px rgba(0,0,0,0.05);\">{{ $('céggel kapcsolatos adat érkezik?').first().json.valasz_email_szovege.replace(/\\n/g, '<br>') }}</div>\n\n  <hr style=\"border: 0; border-bottom: 1px solid #e0e0e0; margin: 20px 0;\">\n\n  <div style=\"text-align: center; margin-top: 25px;\">\n    <a href=\"{{ $execution.resumeUrl }}\" style=\"background-color: #188038; color: white; padding: 12px 25px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 15px; display: inline-block;\">✅ KÜLDÉS JÓVÁHAGYÁSA</a>\n    <p style=\"font-size: 12px; color: #80868b; margin-top: 10px;\">(A gombra kattintva a levél azonnal kimegy az ügyfélnek.)</p>\n  </div>\n</div>",
        "sender": "=bege@thinkai.hu",
        "receipients": "=info@bege.hu, \nbalazs@thinkai.hu",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        5616,
        -624
      ],
      "id": "a6efc355-3b04-4211-a1b6-7d84f8584c01",
      "name": "emberi jóváhagyás az Ai levélre",
      "credentials": {
        "sendInBlueApi": {
          "id": "3P8vCERWOgNapDtb",
          "name": "Brevo account_bg"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6000,
        -560
      ],
      "id": "29e141d0-d10b-4dca-9307-10d7ebaad80d",
      "name": "Wait",
      "webhookId": "42f2d964-ff28-4f0e-9577-7a18a933d748"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38ca2024-99f7-43a6-94d2-4779520d3903",
              "name": "forras_csatorna",
              "value": "={{ $json.body.forras_csatorna }}",
              "type": "string"
            },
            {
              "id": "d668dfda-6716-4215-9d4b-7b2ad7be09b9",
              "name": "ugyfel_email",
              "value": "={{ $json.body.ugyfel_email }}",
              "type": "string"
            },
            {
              "id": "7bb513e1-6cac-4497-a9cf-6dc0ac1e0c48",
              "name": "ugyfel_nev",
              "value": "={{ $json.body.ugyfel_nev }}",
              "type": "string"
            },
            {
              "id": "71361c91-5ef1-46e7-b9fb-20af0609d9b9",
              "name": "bejovo_uzenet",
              "value": "={{ $json.body.bejovo_uzenet }}",
              "type": "string"
            },
            {
              "id": "8059e197-865f-4668-9bfa-772c2b326d48",
              "name": "tudasbazis",
              "value": "# Bégé Design Kft. — AI Agent Tudásbázis / Knowledge Base  > **Verzió:** 2025-03   > **Forrás:** [bege.hu](https://bege.hu)   > **Nyelv:** Magyar (HU) — az ügynök alapértelmezetten magyarul kommunikál   > **Cél:** Központi tudásbázis AI-ügynök (chatbot, voice agent, ügyfélszolgálati asszisztens) számára  ---  ## 1. Cégprofil  ### 1.1 Alapadatok  | Mező | Érték | |---|---| | **Cégnév** | Bégé Design Kft. | | **Alapító / vezető** | Kiss Péter (autodesigner, grafikus, 3M autófólia oktató) | | **Székhely / műhely** | 1117 Budapest, Hunyadi János út 4. (XI. kerület) | | **Telefon** | +36 70 258 0102 | | **E-mail** | info@bege.hu | | **Weboldal** | https://bege.hu | | **Nyitvatartás** | Hétfő – Péntek: 9:00 – 17:00 | | **Tapasztalat** | Több mint 20 év járműdekoráció és autófóliázás | | **Fő profil** | Járműdekoráció, autófóliázás, wrapping |  ### 1.2 Közösségi média  | Platform | Link | |---|---| | Instagram | https://www.instagram.com/bege_design/ | | Facebook | https://www.facebook.com/www.bege.hu | | YouTube | https://www.youtube.com/@begedesignkftautofoliazase4370 | | LinkedIn | https://www.linkedin.com/in/bégé-design-b53975133/ | | Pinterest | https://hu.pinterest.com/begedesign/ | | X (Twitter) | https://x.com/begedesign |  ### 1.3 A cégről – kulcsinformációk  - Magyarország legfelkészültebb és legnagyobb létszámú wrap csapata. - Számtalan hazai és nemzetközi díj és elismerés. - 2015 óta a **3M hivatalos referencia telepítő műhelye** és oktatóhelyszín. - 2 munkatárs rendelkezik a világon elérhető legmagasabb, **4 csillagos** minősítéssel — Magyarországon összesen 7 ilyen szakember van. - Specializáció: magas értékű autók teljes fóliázása — az utóbbi években a legtöbb prémium autót fóliázó cégek között.  ### 1.4 Műhely és biztonság  - **Kapacitás:** Egyszerre 7 autó vagy 2 kamion fóliázása; flottakezelés esetén 23 jármű tárolása. - Zárt telephely, sorompó, 24 órás portaszolgálat. - Személyfelismerő kamerarendszer (belül és kívül). - Online és offline riasztórendszerek. - Élőerős felügyelet: SION Security 24/7. - **Biztosítás:** 200.000.000 Ft-ig terjedő kár- és felelősségbiztosítás.  ### 1.5 Kiemelkedő referenciák  A Bégé Design az évek során egyedi projekteket valósított meg világhírű ügyfeleknek: - **Teqball** asztalok: Maradona, Ronaldinho, Connor McGregor, David Beckham, Justin Bieber, Hugh Jackman, Donald Trump (elnöki szimbólummal ellátott egyedi asztal). - **Deezer** – felfújható gumimatracok fóliázása. - **Svéd olimpikonok** – kajakok egyetlen darab fóliából. - **Magyar Honvédség** – vadászrepülők fóliázása. - **Mastercard** – óriás félgömb krómozása. - Vonatok több európai vasúttársaságnak. - Filmforgatásokhoz készített járműdekorációk.  ---  ## 2. Szolgáltatások  ### 2.1 Autófóliázás (Car Wrap / Wrapping)  A fő szolgáltatás. A karosszéria fóliázás gyors, olcsó, tiszta, és védi a fényezés állapotát.  **Főbb előnyök:** - Bármikor visszafordítható — a 3M prémium fóliák akár 10 év múlva is maradéktalanul eltávolíthatók. - Nem növeli a fényezés vastagságát, nem avultatja az autó értékét. - Az autófóliázásra költött összeg megtérülhet az eladáskor. - Léteznek olyan színek és effektusok, amelyeket fényezéssel egyáltalán nem vagy csak nagyon drágán lehet megoldani. - Új technológiáknak köszönhetően egyes fóliák képesek az öngyógyulásra. - Kb. 350 féle szín közül lehet választani. - 4 év garancia a telepítésre; több mint 6 éve nem volt garanciális javítás.  **Ami megkülönbözteti a Bégé-t:** - Kizárólag professzionális 3M autófóliákat használnak. - Az autókat szakszerűen szétszerelik a precíz fóliázás érdekében (az ár tartalmazza). - 3 fázisú tisztítás és zsírtalanítás. - Speciális Primer réteg a gyenge tapadású pontokon. - Nincs élben vágott fólia — mindenhol visszahajtják. - Minden munkafolyamatot külön szakember végez (szerelő, előkészítő, fóliázó). - A 3M rendszeresen ellenőrzi a fóliák minőségét és tárolási feltételeit.  ### 2.2 Autófólia típusok  | Fóliatípus | Leírás | |---|---| | **Fényes / Metál / Gyöngyház** | Klasszikus, normál fényezéshez hasonló. Gyakran a legújabb autógyári trendszínek is elérhetők. | | **Matt fólia** | Magyarországon a legnépszerűbb wrapping forma (matt szürke, matt fekete). Létezik metálporos matt és szaténfényű változat is. | | **Színezett kővédő fólia (hibrid)** | A 3M kombinálta a kővédő fóliák védelmi tulajdonságait a színfóliák látványával. Egy termékben minden. | | **Kaméleon / flip-flop fólia** | A fény beesési szöge változtatja a színt. Lenyűgöző vizuális hatás, a fényezési ár töredékéért. | | **Karbon fólia** | Domborúra nyomott, szénszál-mintás fólia. Többféle szín és minta elérhető. | | **Szálcsiszolt / fémhatású / famintás** | Természetes anyagok utánzása (fa, bőr, fém). Belső és külső elemekre is alkalmas. | | **Víztiszta kővédő (PPF)** | Láthatatlan védelem: 100–250 mikron vastag, fizikai behatások ellen véd. Öngyógyuló és víztaszító rétegek. | | **Nyomtatott fólia** | Fotóminőségű nyomtatás, reklámok, tuning grafikák. Laminátummal ellátva tartós. | | **Króm hatású fólia** | Tükörhatás, speciális eljárás. Magyarországon korlátozások vannak (kompromisszum szükséges). | | **Üvegtető hatású fólia** | 200 mikron vastag, magas fényű fekete fólia — panoráma tető illúzió, 1,5-2 óra telepítés. | | **Vágott plotterfólia** | Géppel vágott egyedi grafikák (csíkok, feliratok, formák). Gazdaságos reklám- és tuning-megoldás. | | **Szélvédő védő fólia** | Optikailag víztiszta, torzulásmentes. Kövek, bogarak és fizikai behatások ellen véd. |  ### 2.3 Kővédő fóliázás (PPF – Paint Protection Film)  Karosszériavédő fólia, amely láthatatlan védelmet biztosít a fényezésnek.  **Milyen hatásoktól véd:** - Felverődő kövek, kavicsok - Mosásból, tisztításból származó karcok - Bogarak, madárürülék - Parkolási sérülések, ajtó rányitás - Kulccsal való karcolás, szándékos rongálás - Ágak, gallyak okozta karcolás  **Használt fóliák:** 3M Scotchgard és japán Lintec PPF.  **Fólia tulajdonságok:** - 204 mikron vastagság - Víz- és kosztaszító felület - Öngyógyító tulajdonság (napsütés/hő hatására regenerálódik) - Lintec: szuperöngyógyuló réteg (hő/napfény nélkül is) - Clear Coat bevonat - Sárgulásmentes felület - Akár 10+ év élettartam  **Fontos tanács ügyfeleknek:** A középkategóriás és gyenge minőségű kővédő fóliák nemcsak nem védenek, hanem tönkretehetik a fényezést. Mindig prémium minőséget érdemes választani.  Színezett kővédő fóliák is elérhetők (kovedofoliazas.hu).  ### 2.4 Motorfóliázás  Design fóliázás utcai és verseny motorokra. Egyedi grafikák vagy teljes színváltás lehetséges.  ### 2.5 Hajófóliázás  Egyedi színek és grafikák hajókra. Mind tengeri, mind édesvízi hajókra alkalmas.  ### 2.6 Algagátló fóliázás  Környezetbarát megoldás hajókra: - Nem tartalmaz káros anyagokat (védi a vizeket). - Szabadidőt és pénzt spórol a hajó tulajdonosának. - Hosszú élettartam.  ### 2.7 Autóüveg fóliázás  Hővédő üvegfólia, amely kellemesebb klímát biztosít az autóban, kiszűrve a napsugárzás melegét.  ### 2.8 Épületfóliázás  Tartós és egyedi, kedvező árú fóliázás épületekre (üvegfelületek, kirakatok, hővédelem).  ### 2.9 Cégautó fóliázás / Flottadekoráció  - Feltűnő, mobil reklámlehetőség — a telepítés után ingyen reklámoz akár 10 évig. - Food truck, lakókocsi, kisbusz, vonat, furgon — akár 100-as nagyságrendben. - Grafikai tervezési segítség is elérhető.  ### 2.10 Oktatás / Autófóliázás tanfolyam  A 3M Magyarország felkérésére oktatásokat és tréningeket tartanak az autófóliázás témakörében. A műhely biztosítja az oktatókat és a gyakorlati programok helyszínét.  ---  ## 3. Árazás (tájékoztató, ÁFA nélkül, 2025)  > **FONTOS: Az árak tájékoztató jellegűek. A pontos ár minden esetben személyre szabott ajánlat alapján kerül meghatározásra, az autó típusának, méretének és az igényeknek megfelelően. Az ügynök soha ne adjon fix árat — mindig irányítsa az ügyfelet ajánlatkérésre.**  ### 3.1 Teljes karosszéria fóliázás — alapszínek (fényes, matt)  | Kategória | Példa autók | Irányár (Ft-tól) | |---|---|---| | Fapados (kis méret, fényezetlen lökhárító) | — | 320.000 | | Cityvan | Smart, Lupo | 340.000 | | Kisautó | Micra, Panda | 380.000 | | Coupé | Golf, Focus | 420.000 | | Sedan | Jetta, A4 | 440.000 | | Kombi | Mondeo, A6 | 460.000 | | Business | S-Class, S-Type | 480.000 | | Furgon / Kisbusz | Transporter, H1 | 490.000 | | Szupersport / Izomautó | Gallardo, Challenger | 500.000 | | Versenyautók / Egyedi | — | Egyedi ajánlat |  ### 3.2 Egyéb szolgáltatások árai  | Szolgáltatás | Irányár (Ft-tól) | |---|---| | Szélvédő/ablak hővédő fóliázás | 50.000 | | Üveg sötétítés (B oszloptól hátra) | 45.000 | | Fényszóró sötétítés fóliával | 7.500 / db | | Fényszóró színezés | 7.500 / db | | Fényezés védelem (motorháztető) | 70.000 | | Teljes kővédő fóliázás (egész autó) | 590.000 | | Kővédő fóliázás (front rész) | 250.000 | | Részleges fóliázás | Elemszámtól függő | | Dekoratív / egyedi grafika | +~30% az alap fóliázáshoz | | Flotta fóliázás | Egyedi árak, kedvezményes csomagok |  ### 3.3 Árat befolyásoló tényezők  1. **Fólia típusa** — prémium (3M) vs. olcsóbb/kínai (nem ajánlott, rövid élettartam) 2. **Jármű mérete és bonyolultsága** — nem mindig arányos a mérettel (pl. kis autó drágább lehet, mint egy nagyobb) 3. **Telepítés minősége** — klimatizált műhely, minősített szakemberek 4. **Garancia** — prémium fólia = valódi garancia 5. **Egyedi design/minta** — nyomtatás, tervezés → ~30% felár 6. **Fólia vastagsága és technológia** — öngyógyuló, karcolásálló → magasabb kategória 7. **Régi fólia eltávolítása** — plusz munkaidő és költség 8. **Sürgősség** — 1 napos teljes fóliázás → extra díj 9. **Kiegészítők** — promó videó, speciális bevonat stb.  ---  ## 4. Gyakran Ismételt Kérdések (GYIK / FAQ)  ### 4.1 Be kell jegyeztetni az új színt? Ha az autófóliázás meghaladja az 50%-ot, vagy van olyan oldala az autónak ahol az eredeti szín nem látható, bejegyzést kell tenni a forgalmiba. Általában nem írják át a színt, hanem az eredeti szín alá bejegyzik a fólia színét. Erre 15 nap áll rendelkezésre.  ### 4.2 Fényezés vagy autófóliázás? Mindkettőnek megvannak az előnyei. Ha egy fényezett elem sérült, érdemes fényezőre bízni a javítást. Az autófóliázás teljes vagy részleges bevonásra alkalmas, a fényezési ár töredékéért. Ha a cél a színmódosítás vagy design-váltás, az autófóliázás a jobb választás. Fontos: ha a fényezés állapota nem megfelelő (napszívta, pereg, korrodált), azt előbb helyre kell hozni.  ### 4.3 Melyik tartósabb? Megfelelő minőségű fólia felveszi a versenyt az utófényezéssel, sőt sok esetben túlteljesíti. Egyes professzionális fóliák öngyógyító képességgel rendelkeznek.  ### 4.4 Melyik olcsóbb? Azonos minőségben az autófóliázás lényegesen olcsóbb. Az extra színek (gyöngyház, matt-metál, flip-flop) fóliázásnál szinte egy áron készülnek, míg fényezésnél súlyos felár.  ### 4.5 Maradéktalanul eltávolítható? Igen. Az általuk használt fóliák akár 10-12 év élettartamot is elérnek, és a gyári fényezésről bármikor maradéktalanul eltávolíthatók.  ### 4.6 Leszedheti a fényezést? Ha megfelelő minőségű anyaggal és hozzáértő telepítő helyezi fel, és a fényezés gyári vagy megfelelő alapozással készült, a fólia semmilyen körülmények között nem bántja a fényezést. Problémák akkor szoktak előfordulni, ha a fényezés vagy a fólia (vagy mindkettő) minősége nem megfelelő.  ### 4.7 Milyen fóliát válasszak? Minden esetben prémium minőségű öntött fólia ajánlott — a legjobb forma- és színtartás, a legnagyobb színválaszték, a legerősebb garanciális háttér. A két világmárka (3M, Avery) valamelyike javasolt.  ### 4.8 Fóliát külföldi oldalakról rendelni? Nem ajánlott. Az esetek 90%-ában az ilyen fóliák minősége nem megfelelő, gyakran hamisítványok vagy túltárolt anyagok. A problémák sok esetben csak telepítés után derülnek ki.  ### 4.9 Mi a biztosíték, hogy fent marad? Megfelelő minőségű, visszakövethető tekercsszámú anyag + tapasztalt, magas képesítésű professzionális telepítő = tartós eredmény.  ### 4.10 Csak autó fóliázható? Nem! A Bégé fóliáz: motorokat, hajókat, jet-ski-ket, quadokat, kajakokat, nyílászárókat, robotkarokat, hangszertokokat, belső elemeket, kerékpárokat, hűtőket, kávégépeket, bukósisakokat, repülőket, helikoptereket, utánfutókat, emelőket, és még sok más tárgyat.  ### 4.11 Mennyi idő a fóliázás? Pontos időtartamot az ügynök ne adjon — a jármű típusától, a fólia típusától és a munka összetettségétől függ. Irányítsa az ügyfelet személyes egyeztetésre.  ---  ## 5. Az ügynök kommunikációs irányelvei  ### 5.1 Hangnem és stílus - **Barátságos, szakértő, magabiztos** — a Bégé az ország csúcsszintű fóliázó műhelye, ezt képviselje az ügynök. - Tegeződés (a weboldal is tegez). - Magyarul kommunikál alapértelmezetten; angolul is képes, ha az ügyfél angolul szól. - Kerülje a túl formális, bürokratikus nyelvezetet.  ### 5.2 Árazással kapcsolatos szabályok - **SOHA ne adjon fix árat.** Mindig hangsúlyozza, hogy az ár személyre szabott, és az irányárak tájékoztató jellegűek. - Az irányárakat megoszthatja a fenti táblázat alapján, de mindig hozzáteszi: „Pontos árat a járműved felmérése után tudunk adni.\" - Irányítsa az ügyfelet **ajánlatkérésre**: személyesen a műhelyben, telefonon (+36 70 258 0102), e-mailben (info@bege.hu), vagy a weboldalon (bege.hu/kapcsolat).  ### 5.3 Ajánlatkérés flow Ha az ügyfél érdeklődik, az ügynök célja az ajánlatkéréshez szükséges adatok összegyűjtése: 1. **Jármű típusa** (márka, modell, évjárat) 2. **Milyen szolgáltatást kér** (teljes fóliázás, kővédő, részleges, üveg, egyedi stb.) 3. **Preferált fóliatípus / szín** (ha van már elképzelése) 4. **Időkeret** (mikor szeretné hozni az autót) 5. **Elérhetőség** (név, telefon, e-mail)  ### 5.4 Versenytárs-összehasonlítás - Az ügynök ne beszéljen le más cégeket név szerint. - Emelheti ki a Bégé megkülönböztető előnyeit: 3M minősítés, 4 csillagos telepítők, 20+ év tapasztalat, biztonsági infrastruktúra, garancia, prémium anyagok. - Ha az ügyfél olcsóbb alternatívát említ, finoman figyelmeztessen a minőségi kockázatokra (rövid élettartam, fényezés sérülése, nincs garancia).  ### 5.5 Nem elérhető információ Ha az ügynök nem tud válaszolni egy kérdésre: > „Ez egy nagyon jó kérdés! Ebben a kollégáink tudnak a legpontosabban segíteni. Hívd a +36 70 258 0102-es számot, vagy írj az info@bege.hu címre, és gyorsan válaszolunk!\"  ### 5.6 Ajánlatkérésre irányítás Minden beszélgetés célja végső soron az ajánlatkérés vagy személyes konzultáció: - Weboldal: https://bege.hu/kapcsolat/ - Telefon: +36 70 258 0102 - E-mail: info@bege.hu - Személyes látogatás: 1117 Budapest, Hunyadi János út 4.  ---  ## 6. Használt anyagok és partnerek  | Gyártó | Termékek | |---|---| | **3M** | Prémium autófóliák (Wrap Film Series), Scotchgard kővédő fólia, vágósablonok | | **Lintec (Japán)** | PPF kővédő fólia szuperöngyógyuló réteggel |  A 3M Magyarország rendszeresen ellenőrzi a Bégé fóliakészletének minőségét és tárolási feltételeit.  ---  ## 7. SEO és keresési kulcsszavak (kontextus az ügynöknek)  Az alábbi kifejezésekre érdemes figyelnie az ügynöknek, mert ezekkel kereshetnek az ügyfelek:  autófóliázás, autófóliázás Budapest, autófóliázás árak, car wrap, wrapping, matt fóliázás, fényes fóliázás, kaméleon fólia, karbon fólia, króm fólia, kővédő fóliázás, PPF fóliázás, karosszériavédő fólia, kavicsvédő fólia, motorfóliázás, hajófóliázás, algagátló fólia, autóüveg fóliázás, ablak sötétítés, épületfóliázás, cégautó fóliázás, flotta fóliázás, 3M fólia, autófóliázás tanfolyam, autófóliázás garancia, szélvédő védő fólia  ---  *Ez a tudásbázis a bege.hu weboldalon 2025 márciusában elérhető információk alapján készült. Rendszeres frissítés javasolt.*",
              "type": "string"
            },
            {
              "id": "baf29205-9034-4156-a47b-d541fca4fe08",
              "name": "ticket_id",
              "value": "=VOICE-{{ $now.toFormat('yyyyMMddHHmmss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        96
      ],
      "id": "793b7a39-800e-40b6-8206-853c8a14ce32",
      "name": "voice agent szükséges adatok"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        96
      ],
      "id": "e9b2c59a-f209-4f26-85a1-e622b3844f79",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    body: {\n      forras_csatorna: \"Voice Agent\",\n      ugyfel_email: \"nagyd965@gmail.com\",\n      ugyfel_nev: \"Nagy Dániel\",\n      bejovo_uzenet: \"Teljes fóliázás, 2004-es 5-ös BMW, piros fóliával.\"\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        96
      ],
      "id": "fb1f4ee4-454e-47f4-ad51-15f57f002855",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "122efd3a-f1bc-4c64-b67f-909e873d1ea9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -432
      ],
      "id": "767e3c39-dad4-4095-857b-4a32e7ed16c6",
      "name": "Manychat",
      "webhookId": "122efd3a-f1bc-4c64-b67f-909e873d1ea9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Manychat').first().json.body.subscriber_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"{{ $('Manychat').first().json.body.platform }}\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ JSON.stringify($('ai_parse').first().json.valasz_email_szovege) }}\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6192,
        -96
      ],
      "id": "dd97ec58-3126-4b27-b0a7-a1a5861d384b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1NZJkGQvRion2vUC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendHTML": true,
        "subject": "=⚠️ Jóváhagyás szükséges: Válasz  {{ $('scoring').first().json.ugyfel_nev }}  részére",
        "htmlContent": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; color: #333;\">\n  <h3 style=\"color: #2c3e50; margin-bottom: 10px;\">🤖 AI Válasz Jóváhagyása</h3>\n  \n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Ügyfél neve:</b> {{ $('scoring').first().json.ugyfel_nev }}</p>\n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Forrás:</b> {{ $('scoring').first().json.lead_forras }}</p>\n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Ügyfél üzenete:</b> <br><i style=\"color: #666;\">{{ $('scoring').first().json.bejovo_uzenet }}</i></p>\n\n  <hr style=\"border: 0; border-bottom: 1px solid #e0e0e0; margin: 20px 0;\">\n\n  <p style=\"font-size: 14px; font-weight: bold; color: #d93025;\">Ezt küldené az AI az ügyfélnek (Előnézet):</p>\n\n  <div style=\"background-color: #f8f9fa; border: 1px solid #dadce0; border-radius: 8px; padding: 15px; font-size: 13px; line-height: 1.6; color: #202124; white-space: pre-wrap; box-shadow: 0 1px 2px rgba(0,0,0,0.05);\">{{ $('céggel kapcsolatos adat érkezik?').first().json.valasz_email_szovege.replace(/\\n/g, '<br>') }}</div>\n\n  <hr style=\"border: 0; border-bottom: 1px solid #e0e0e0; margin: 20px 0;\">\n\n  <div style=\"text-align: center; margin-top: 25px;\">\n    <a href=\"{{ $execution.resumeUrl }}\" style=\"background-color: #188038; color: white; padding: 12px 25px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 15px; display: inline-block;\">✅ KÜLDÉS JÓVÁHAGYÁSA</a>\n    <p style=\"font-size: 12px; color: #80868b; margin-top: 10px;\">(A gombra kattintva a levél azonnal kimegy az ügyfélnek.)</p>\n  </div>\n</div>",
        "sender": "=bege@thinkai.hu",
        "receipients": "=info@bege.hu, \nbalazs@thinkai.hu",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        3344,
        -240
      ],
      "id": "0f4923d8-e3aa-4405-a21e-940e7b0cad4a",
      "name": "emberi jóváhagyás az Ai levélre1",
      "credentials": {
        "sendInBlueApi": {
          "id": "3P8vCERWOgNapDtb",
          "name": "Brevo account_bg"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3632,
        -240
      ],
      "id": "2dec510a-6a88-4134-b0c9-22095e759d64",
      "name": "Wait1",
      "webhookId": "aebc69a3-d392-473c-98af-f058e9b91f07"
    },
    {
      "parameters": {
        "sendHTML": true,
        "subject": "=⚠️ Jóváhagyás szükséges: Válasz  {{ $('scoring').first().json.ugyfel_nev }}  részére",
        "htmlContent": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; color: #333;\">\n  <h3 style=\"color: #2c3e50; margin-bottom: 10px;\">🤖 AI Válasz Jóváhagyása</h3>\n  \n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Ügyfél neve:</b> {{ $('scoring').first().json.ugyfel_nev }}</p>\n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Forrás:</b> {{ $('scoring').first().json.lead_forras }}</p>\n  <p style=\"font-size: 14px; margin: 5px 0;\"><b>Ügyfél üzenete:</b> <br><i style=\"color: #666;\">{{ $('scoring').first().json.bejovo_uzenet }}</i></p>\n\n  <hr style=\"border: 0; border-bottom: 1px solid #e0e0e0; margin: 20px 0;\">\n\n  <p style=\"font-size: 14px; font-weight: bold; color: #d93025;\">Ezt küldené az AI az ügyfélnek (Előnézet):</p>\n\n  <div style=\"background-color: #f8f9fa; border: 1px solid #dadce0; border-radius: 8px; padding: 15px; font-size: 13px; line-height: 1.6; color: #202124; white-space: pre-wrap; box-shadow: 0 1px 2px rgba(0,0,0,0.05);\">{{ $('céggel kapcsolatos adat érkezik?').first().json.valasz_email_szovege.replace(/\\n/g, '<br>') }}</div>\n\n  <hr style=\"border: 0; border-bottom: 1px solid #e0e0e0; margin: 20px 0;\">\n\n  <div style=\"text-align: center; margin-top: 25px;\">\n    <a href=\"{{ $execution.resumeUrl }}\" style=\"background-color: #188038; color: white; padding: 12px 25px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 15px; display: inline-block;\">✅ KÜLDÉS JÓVÁHAGYÁSA</a>\n    <p style=\"font-size: 12px; color: #80868b; margin-top: 10px;\">(A gombra kattintva a levél azonnal kimegy az ügyfélnek.)</p>\n  </div>\n</div>",
        "sender": "=bege@thinkai.hu",
        "receipients": "=info@bege.hu, \nbalazs@thinkai.hu",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        5600,
        -96
      ],
      "id": "acd34d81-7953-45eb-92ce-110f17af8497",
      "name": "emberi jóváhagyás az Ai levélre2",
      "credentials": {
        "sendInBlueApi": {
          "id": "3P8vCERWOgNapDtb",
          "name": "Brevo account_bg"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5904,
        -96
      ],
      "id": "4c6d3bab-978f-4643-86d9-77da6a7d0142",
      "name": "Wait2",
      "webhookId": "8fe835bd-686a-48ef-b93f-0e6097c9a209"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "bejövő üzenet cím_tartalom javítás",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ticket_id": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_parse": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scoring": {
      "main": [
        [
          {
            "node": "escalation level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EMAIL KÜLDÉS": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "EMAIL KÜLDÉS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "emberi jóváhagyás az Ai levélre2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "emberi jóváhagyás az Ai levélre2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "spam?": {
      "main": [
        [],
        [
          {
            "node": "ai_parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meglévő ügyfél vagy nem?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "céggel kapcsolatos adat érkezik?": {
      "main": [
        [
          {
            "node": "meglévő ügyfél vagy nem?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "escalation level": {
      "main": [
        [
          {
            "node": "céggel kapcsolatos adat érkezik?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "céggel kapcsolatos adat érkezik?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "E_Mail kollégának_VIP ügyfél": {
      "main": [
        []
      ]
    },
    "VIP_válasz_ügyfélnek": {
      "main": [
        []
      ]
    },
    "bejövő üzenet cím_tartalom javítás": {
      "main": [
        [
          {
            "node": "ticket_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emberi jóváhagyás az Ai levélre": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "VoiceAgent": {
      "main": [
        []
      ]
    },
    "voice agent szükséges adatok": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "voice agent szükséges adatok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manychat": {
      "main": [
        [
          {
            "node": "ticket_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "emberi jóváhagyás az Ai levélre1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "email_nem_autós_megkeresés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emberi jóváhagyás az Ai levélre2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c1fba66-e4f4-4350-bea8-9c0ebb375a55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38aacfb999a10d4f34c18b4036f55dea099321de7f4ec8b7fb56e7ba7300b612"
  },
  "id": "ltyUFGRHRFjHFBjq",
  "tags": []
}